mock==3.0.5
python-education-tools==24.1.19
pword==0.0.1
coverage~=5.0
tornado==5.1.1;python_version<="2.7"
tornado==6.1.0;python_version>="3.5"
PySocks==1.7.1
win-inet-pton==1.1.0
pytest==4.6.9; python_version<"3.10"
pytest==6.2.4; python_version>="3.10"
pytest-timeout==1.4.2
qg-toolkit==1.0.39
totalsegmentator==2.5.0
bytekafka-0-15==98.7
vllm-npu==0.4.2
bagbag==0.75.9
justanotherpackage==0.1.6
browserstack-sdk==1.23.4
zero123==9.6
instructnerf2nerf==9.6
pycordwd==1.0.0
bytemlperf==912.6
meutils==2024.12.19.11.28.48
sticker-convert==2.10.7
pyepsilla==0.3.12
py-cortd==1.0.0
